

 <div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <%= form_tag login_path do %>
          <%= text_field_tag :email, nil, :autofocus => true, :placeholder => 'Email', :class => 'form-control' %>
          <%= password_field_tag :password, nil,:class => 'form-control', :placeholder => 'Password' %>
          <%= submit_tag 'Go!', :class => "btn btn-primary" %><div class="right"><%= link_to('Sign Up', new_user_path) %></div>
        <% end %>
      </div>
      <div class="modal-footer">
      <%= flash[:error] if flash[:error].present? %>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>$('.modal').modal()</script>