

<% confirmed = @bookings.where(:accepted => 'yes') %>

<% if confirmed.count > 0 %>
  <h1 class="bookings">Confirmed Bookings</h1>
<% end %>

<% confirmed.each do |booking| %>
<div class="border"> 
<div class="adventure-info">
    <%= link_to(booking.adventure.user.first_name, booking.adventure.user(booking.adventure.user.id)) %>'s 
    <%= link_to(booking.adventure.title, booking.adventure(booking.adventure.id)) %>
    <p class="adventure-word">Adventure</p>
</div>
  <div class="creator-stuff">
  <%= image_tag(booking.adventure.user.profile_url(:medium), :class => "img-circle") %>
  
  
  <div class="creator-msg">
    <%= booking.adventure.user.first_name %> says: '<%= booking.message_decision %>'
  </div>
  </div>

  <div class="adventure-img">
    <%= image_tag(booking.adventure.profile_url(:large), :class => 'img-rounded') %>
  </div>

  <div class="fellow-adventurers">
      <h4 class="fellow-adventures-title">Adventurers on the trip:</h4>

      <div class="fellow-adventurer">
        <% booking.adventure.bookings.where(:accepted => 'yes').each do |booking_two| %>

                <%= image_tag(booking_two.user.profile_url(:medium), :class => "img-circle fellow-adventurer-profile") %>
                <h3 class="fellow-adventurer-name">
                  <%= booking_two.user.first_name%>
                </h3> 

              <% end %>
      </div>
  </div>
  </div>
<% end %>



<% pending = @bookings.where(:accepted => nil ) %>

<% if pending.count > 0 %>
  <h1 class="bookings">Pending Bookings</h1>
<% end %>

<% pending.each do |booking| %>
<div class="border"> 
<div class="adventure-info">
    <%= link_to(booking.adventure.user.first_name, booking.adventure.user(booking.adventure.user.id)) %>'s <%= link_to(booking.adventure.title, booking.adventure(booking.adventure.id)) %> <p class="adventure-word">Adventure</p>
</div>
  <div class="creator-stuff">
  <%= image_tag(booking.adventure.user.profile_url(:medium), :class => "img-circle") %>
  </div>
  <div class="adventure-img">
  <%= image_tag(booking.adventure.profile_url(:large), :class => "img-rounded") %>
  </div>
  </div>
  <% end %>


<% cancellations = @bookings.where(:accepted => 'no' ) %>

<% if cancellations.count > 0 %>
  <h1 class="bookings">Cancellations</h1>
<% end %>

<% cancellations.each do |booking| %>
<div class="border"> 
<div class="adventure-info">
  <%= link_to(booking.adventure.user.first_name, booking.adventure.user(booking.adventure.user.id)) %>'s <%= link_to(booking.adventure.title, booking.adventure(booking.adventure.id)) %> <p class="adventure-word">Adventure</p>
</div>

  <div class="creator-stuff">
  <%= image_tag(booking.adventure.user.profile_url(:medium), :class => "img-circle") %>


  <div class="creator-msg">
    <%= booking.adventure.user.first_name %> says: '<%= booking.message_decision %>'
  </div>
  </div>

  <div class="adventure-img">
  <%= image_tag(booking.adventure.profile_url(:large), :class => "img-rounded") %>
  </div>
</div>

<% end %>


