<h3>
  <%= flash[:error] if flash[:error].present? %>
</h3>

Please tell <%= @booking.user.first_name %> why they can't join your adventure. 

<%= form_for [@adventure, @booking] do |f| %>

  <%= f.label :message %>
  <%= f.text_field :message %>

<%= f.submit 'Send Message' %>
<% end %>