<h3>
  <%= flash[:error] if flash[:error].present? %>
</h3>

<h4>Please tell <%= @booking.user.first_name %> why they can't join your adventure.</h4>

<%= form_for [@adventure, @booking] do |f| %>

  <%= f.label :message_decision, 'Message', :required => true %>
  <%= f.text_field :message_decision %>

<%= f.submit 'Send Message' %>
<% end %>