<h1>Booking Details</h1>

<p><%= image_tag(@adventure.image, :class => 'thumb') %></p>
<p><%= @adventure.title %></p>


<p>Your availabilities: <%= @booking.checkin.strftime('%A, %b %e, %Y') %> through
<%= @booking.checkout.strftime('%A, %b %e, %Y')%></p>

  <p>Adventure type: <%= @adventure.adventure_type %></p>
  <p>Pickup location: <%= @adventure.pickup_location %></p>
  <p>Activity location: <%= @adventure.activity_location %></p>
  <p>Difficulty: <%= @adventure.difficulty %></p>
  <p>Sponsor company: <%= @adventure.sponsor_company %></p>
  <p>Extras: <%= @adventure.extras %></p>
  <p>Duration: <%= @adventure.duration %></p>
  <p>Overnight? <%= @adventure.overnight %></p>
  <p>Description: <%= @adventure.description %></p>




