<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ol>
<% end %>


<%= form_for @user do |f| %>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true, :required => true %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :required => true %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :required => true %>

    <!-- :input_html => { :value => 'user@domain.com' } -->
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>


