<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% if @current_user.is_admin? %>
<%= link_to('Edit user', edit_user_path) %>
<%= button_to('Delete user', @user, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %>
<% end %>

<%= image_tag(@user.image, :class => 'thumb') %>

<% @user.attributes.except('image', 'created_at', 'updated_at', 'is_admin', 'password_digest', 'first_name', 'last_name', 'id').each do |k,v| %>
  <% if v != nil && v != "" %>
  <p>
    <%= k.humanize %>: <%= v %>
  </p>
  <% end %>
<% end %>

  
