
<div class="form-group">
<%= form_for @adventure, :html => {:class => 'sm-col-4'} do |f| %>

  <%= f.label :offer_type %>
  <%= f.select(:offer_type) do %>
  <% [['Offering'], ['Wanting']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  
  <%= f.label :adventure_type %>
  <%= f.select(:adventure_type) do %>
  <% @options.each do |c| -%>
    <%= content_tag(:option, c, value: c) %>
    <% end %>
  <% end %>

  <div> 
  <%= f.text_field :other, :class => 'form-control', :placeholder => 'if other adventure type' %>
  </div>

  <%= f.text_field :title, :required => true, :class => 'form-control', :placeholder => 'Title' %>

 
  <%= f.text_field :pickup_location, :required => true, :class => 'form-control', :placeholder => 'Pickup Address' %>

  <%= f.text_field :city_pickup, :required => true, :class => 'form-control', :placeholder => 'Pickup City' %>

  <%= f.text_field :activity_location, :required => true, :class => 'form-control', :placeholder => 'Activity Address' %>

  <%= f.text_field :city_activity, :required => true, :class => 'form-control', :placeholder => 'Activity City' %>

  <%= f.label :checkin, 'Adventure Date' %>
  <%= f.text_field :checkin, :class => 'datepicker', :required => true %>

  <%= f.text_field :description, :required => true, :class => 'form-control', :placeholder => 'Description' %>

  <%= f.label :seats %>
  <%= f.select(:seats) do %>
  <% [['1', 1], ['0', 0], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10+', '10+']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>

  <%= f.label :difficulty %>
  <%= f.select(:difficulty, :required => true) do %>
  <% [['Novice'], ['Beginner'], ['Intermediate'], ['Advanced'], ['Expert']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>

  <%= f.label :gender_preference %>
  <%= f.select(:gender_preference) do %>
  <% [['None'], ['Female'], ['Male']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>

  <%= f.text_field :sponsor_company, :class => 'form-control', :placeholder => 'Sponsor Company' %>

  <%= f.text_field :extras, :class => 'form-control', :placeholder => 'Extras' %>

  <%= f.text_field :age_limit, :class => 'form-control', :placeholder => 'Age Limit' %>

  <%= f.text_field :duration, :class => 'form-control', :placeholder => 'Duration' %>

  <%= f.label :overnight %>
  <%= f.select(:overnight) do %>
  <% [['No'], ['Yes'], ['Possibly']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>

  <%= f.label :profile, 'Adventure Picture' %>
  <%= f.file_field :profile, :class => 'form-control' %>

  <%= f.text_field :remote_profile_url, :class => 'form-control', :placeholder => 'or input URL for Adventure Picture' %>
  


<%= f.submit :class => 'btn btn-primary' %>
<% end %>



<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd'
    });
  });
</script>
</div>



