<h1>Welcome to Thrilli</h1>

<% if @adventures.count == 0 %>
<%= flash[:error] = "Your search did not match any results. Please try again. " %>
<% end %>

<%= form_tag(adventures_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Keywords" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% @adventures.each do |adventure| %>
  
  <% a = adventure.bookings.where :accepted => 'yes' %>
  <% if a.count < adventure.seats %>
  
  <%= link_to(image_tag(adventure.profile_url(:medium)), adventure) %>

    <p><%= adventure.user.first_name %>'s <%= link_to(adventure.title, adventure) %> Adventure</p>

  <% end %>
<% end %>




