
<% if @adventures.count == 0 %>
<%= flash[:error] = "Your search did not match any results. Please try again. " %>
<% end %>

<!-- all adventures (with available car seats and not deleted) -->
<% @adventures.each do |adventure| %>
  
  <% accepted = adventure.bookings.where :accepted => 'yes' %>
  <% if accepted.count < adventure.seats %>
  
  <div class="<%= ("disappear" if adventure.disappear?) %> tbd"><%= link_to(image_tag(adventure.profile_url(:medium), :class => "img-rounded"), adventure) %>

  <%= adventure.user.first_name %>'s <%= link_to(adventure.title, adventure) %> Adventure
    <p><% if adventure.checkin != nil%>
      <%= adventure.checkin.strftime('%A, %b %e, %Y') %></p>
    <% end %>
  </div>

  <% else %>

  <!-- adventures that are full  -->
    FULL
    
  <div class="<%= ("disappear" if adventure.disappear?) %> tbd"><%= link_to(image_tag(adventure.profile_url(:medium), :class => "img-rounded"), adventure) %>

  <%= adventure.user.first_name %>'s <%= link_to(adventure.title, adventure) %> Adventure</div>

  
  <% end %>
<% end %>




