<h1><%= @adventure.title %></h1>


<%= image_tag(@adventure.image, :class => 'thumb') %>
  <p><%= link_to('Request Booking', new_adventure_booking_path(:adventure_id => @adventure.id)) %></p>
  <p>Offer type: <%= @adventure.offer_type %></p>
  <p>Adventure type: <%= @adventure.adventure_type %></p>
  <p>Pickup location: <%= @adventure.pickup_location %></p>
  <p>Activity location: <%= @adventure.activity_location %></p>
  <p>Checkin: <%= @adventure.checkin %></p>
  <p>Checkout: <%= @adventure.checkout %></p>
  <p>Seats: <%= @adventure.seats %></p>
  <p>Difficulty: <%= @adventure.difficulty %></p>
  <p>Gender preference: <%= @adventure.gender_preference %></p>
  <p>Sponsor company: <%= @adventure.sponsor_company %></p>
  <p>Extras: <%= @adventure.extras %></p>
  <p>Age limit: <%= @adventure.age_limit %></p>
  <p>Duration: <%= @adventure.duration %></p>
  <p>Overnight? <%= @adventure.overnight %></p>
  <p>Description: <%= @adventure.description %></p>
 

