<h1><%= @adventure.title %></h1>


<%= image_tag(@adventure.profile_url(:medium)) %>

<p>
  <% if (@adventure.booking_ids & @current_user.booking_ids).empty? && (@adventure.user_id != @current_user.id) %>
  <%= link_to('Request Booking', new_adventure_booking_path(:adventure_id => @adventure.id)) %>
  <% end %>
</p>


<p>
  <% if @current_user.id == @adventure.user.id %>
  <%= link_to('Edit Adventure', edit_adventure_path(@adventure)) %>
  <% end %>
</p>

<% @adventure.attributes.except('image', 'created_at', 'updated_at', 'user_id', 'disappear', 'id').each do |k,v| %>
  <% if v != nil && v != "" %>
  <p>
    <%= k.humanize %>: <%= v %>
  </p>
  <% end %>
<% end %>




