<!DOCTYPE html>
<html>
<head>
  <title>ProjectOne</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>

<h1>Welcome <%= @current_user.try(:first_name) %></h1>

    


<nav>
  <ul>
    <%== nav_menu %>
  </ul>
</nav>

<div class="container"> 
  <%= yield %>
</div>
</body>
</html>
