<!DOCTYPE html>
<html>
<head>
  <title>Thrilli</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    
</head>
<body>
<div id="main">
  <div id="first">


<nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Thrilli | Welcome <%= @current_user.try(:first_name) %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= form_tag(adventures_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], :class => 'form-control',placeholder: "Search Keywords" %>
        </div>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        <% end %>
      </form>



      <ul class="nav navbar-nav navbar-right">
        <%== nav_menu %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    

<div class="container"> 
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= yield %>
</div>
</div>
</div>
</div>
</body>
</html>
